*{
    margin: 0;
    padding: 0;
    background-color: #232323;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: aliceblue;
    font-size: 24px;
    margin: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-scrollbar{
    height: 100vh;
    overflow-y: scroll;
}
.custom-scrollbar::-webkit-scrollbar{
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track{
    background: #1e3f20;
    border-radius: 15px;

}
.custom-scrollbar::-webkit-scrollbar-thumb{
    background: #4a7856;
    border-radius: 12px;
}